/HelloWeb/build/
/HelloWeb/dist/
/HelloWeb/nbproject/private/
/servlet1/nbproject/private/
/servlet1/build/
/WebApplication1/nbproject/private/
/tomee/nbproject/private/
/tomee/build/
/jsf/nbproject/private/
/jsf/build/
/scure/nbproject/private/
/scure/dist/
/scure/build/
/loginForm/nbproject/private/
/loginForm/dist/
/loginForm/build/
/formLogin/nbproject/private/
/jsf/dist/
/glassex/nbproject/private/
/glassex/build/
/jsf_prime/nbproject/private/
/jsf_prime/build/
/jsf_template/nbproject/private/
/jsf_template/build/
/lesManagedBean/nbproject/private/
/lesManagedBean/build/
/simpleAjax/nbproject/private/
/simpleAjax/build/
/jsf_prime/dist/
/testJPA/nbproject/private/
/testJPA/build/