[submodule "LesAnalysesDesAuditeurs/Tarek-Adra/TomEE"]
	path = LesAnalysesDesAuditeurs/Tarek-Adra/TomEE
	url = https://github.com/Tarek-Adra/TomEE
[submodule "LesAnalysesDesAuditeurs/MohamadMinzer92/HTML5-offline-browsing-and-storage"]
	path = LesAnalysesDesAuditeurs/MohamadMinzer92/HTML5-offline-browsing-and-storage
	url = https://github.com/Houssein001/HTML5-offline-browsing-and-storage
[submodule "LesAnalysesDesAuditeurs/hassanItani/SOAP_SMB214-2016"]
	path = LesAnalysesDesAuditeurs/hassanItani/SOAP_SMB214-2016
	url = https://github.com/hassanItani/SOAP_SMB214-2016.git
[submodule "AutresProjets/mathexp"]
	path = AutresProjets/mathexp
	url = git@github.com:pascalfares/mathexp.git
[submodule "LesAnalysesDesAuditeurs/RESTful-Web-Services"]
	path = LesAnalysesDesAuditeurs/RmailyMike/
	url = https://github.com/RmailyMike/RESTful-Web-Services
[submodule "LesAnalysesDesAuditeurs/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE"]
	path = LesAnalysesDesAuditeurs/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE
	url = https://github.com/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE.git
