[submodule "LesAnalysesDesAuditeurs/Tarek-Adra/TomEE"]
	path = LesAnalysesDesAuditeurs/Tarek-Adra/TomEE
	url = https://github.com/Tarek-Adra/TomEE
[submodule "LesAnalysesDesAuditeurs/MohamadMinzer92/HTML5-offline-browsing-and-storage"]
	path = LesAnalysesDesAuditeurs/MohamadMinzer92/HTML5-offline-browsing-and-storage
	url = https://github.com/Houssein001/HTML5-offline-browsing-and-storage
[submodule "LesAnalysesDesAuditeurs/hassanItani/SOAP_SMB214-2016"]
	path = LesAnalysesDesAuditeurs/hassanItani/SOAP_SMB214-2016
	url = https://github.com/hassanItani/SOAP_SMB214-2016.git
[submodule "AutresProjets/mathexp"]
	path = AutresProjets/mathexp
	url = git@github.com:pascalfares/mathexp.git
[submodule "LesAnalysesDesAuditeurs/RmailyMike/RESTful-Web-Services"]
	path = LesAnalysesDesAuditeurs/RmailyMike/RESTful-Web-Services
	url = https://github.com/RmailyMike/RESTful-Web-Services
[submodule "LesAnalysesDesAuditeurs/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE"]
	path = LesAnalysesDesAuditeurs/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE
	url = https://github.com/ebouhanna/SMB214-2016-Oracle-Berkeley-DB-JE.git
[submodule "LesAnalysesDesAuditeurs/iberro/SMB214-Android"]
	path = LesAnalysesDesAuditeurs/iberro/SMB214-Android
	url = https://github.com/iberro/SMB214-Android
[submodule "LesAnalysesDesAuditeurs/ahmadtout/Neo4j"]
	path = LesAnalysesDesAuditeurs/ahmadtout/Neo4j
	url = git@github.com:ahmadtout/Neo4j.git
[submodule "LesAnalysesDesAuditeurs/malakKays/SMB214-Malak-KAYS"]
	path = LesAnalysesDesAuditeurs/malakKays/SMB214-Malak-KAYS
	url = https://github.com/malakKays/SMB214-Malak-KAYS.git
[submodule "LesAnalysesDesAuditeurs/balamddine/NewHtml5"]
	path = LesAnalysesDesAuditeurs/balamddine/NewHtml5
	url = https://github.com/balamddine/NewHtml5.git
[submodule "LesAnalysesDesAuditeurs/khalilbsaibes/cassandra"]
	path = LesAnalysesDesAuditeurs/khalilbsaibes/cassandra
	url = https://github.com/khalilbsaibes/cassandra
[submodule "LesAnalysesDesAuditeurs/Java-Card"]
	path = LesAnalysesDesAuditeurs/Java-Card
	url = https://github.com/najidagher/Java-Card.git
[submodule "LesAnalysesDesAuditeurs/Ibrahimwatfa/HTML5-Parallax.git"]
	path = LesAnalysesDesAuditeurs/Ibrahimwatfa/HTML5-Parallax.git
	url = git@github.com:Ibrahimwatfa/HTML5-Parallax.git
[submodule "LesAnalysesDesAuditeurs/-O"]
	path = LesAnalysesDesAuditeurs/-O
	url = git@github.com:mohamadMonzer92/HTML5-offline-browsing-and-storage.git
[submodule "LesAnalysesDesAuditeurs/ChadyDagher"]
	path = LesAnalysesDesAuditeurs/ChadyDagher
	url = git@github.com:chadydagher/PROJET-RFID.git
[submodule "LesAnalysesDesAuditeurs/HusseinAlArab"]
	path = LesAnalysesDesAuditeurs/HusseinAlArab
	url = git@github.com:hussein-al-Arab/raspberry-pi.git
