/HelloWeb/build/
/HelloWeb/dist/
/HelloWeb/nbproject/private/
/servlet1/nbproject/private/
/servlet1/build/
/WebApplication1/nbproject/private/
/tomee/nbproject/private/
/tomee/build/
/jsf/nbproject/private/
/jsf/build/
/scure/nbproject/private/
/scure/dist/
/scure/build/
/loginForm/nbproject/private/
/loginForm/dist/
/loginForm/build/
/formLogin/nbproject/private/
/jsf/dist/
/glassex/nbproject/private/
/glassex/build/